@import '../../assets/styles/screen.scss';

.about-description-container {
    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 15px;
    }
}

.about-description-section {
    width: 100%;

    @media (min-width: $screen-lg) {
        width: 50%;
    }
}

.about-description {
    margin-bottom: 30px;
}

.icon-guy-programming {
    padding: 40px 40px 0;
    margin: auto;

    @media (min-width: $screen-lg) {
        padding-top: 0;
        width: 50%;
    }

    img {
        max-width: 100%;

        @media (min-width: $screen-lg) {
            width: 400px;
        }
    }
}

.description-summary {
    justify-content: center;

    @media (min-width: 900px) {
        display: flex;
        justify-content: left;
        margin-bottom: 60px;
    }

    .icon {
        background-color: #11d6f0;
        padding: 10px;
        border-radius: 25px;
        width: 40px;
        height: 40px;
    }

    .icon-info {
        padding-left: 10px;

        h6 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            margin-bottom: 0;
        }
    }

    .summary {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.about-special-block {
    background-color: #191919;
    padding: 50px 15px;
    position: relative;
    margin-bottom: 60px;

    .special-title {
        margin-bottom: 60px;
    }

    .special-title span,
    .special-title h2 {
        padding: 0 0 0 15px;
    }

    h2 {
        position: relative;
        line-height: 1;
        border-left: 1px solid #eee;
        letter-spacing: 2px;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 0;
        border-left: 1px solid rgba(238, 238, 238, 0.3);
    }

    h2:before {
        content: '';
        width: 1px;
        height: 35px;
        background: #11d6f0;
        position: absolute;
        left: -1px;
        bottom: 0;
    }

    &:before {
        border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
        left: 0;
        top: 0;
    }

    &:after {
        border-color: rgba(0, 0, 0, 0) #11d6f0 #11d6f0 rgba(0, 0, 0, 0);
        bottom: 0;
        right: 0;
    }

    &:before,
    &:after {
        border-style: solid;
        border-width: 2px;
        content: "";
        display: block;
        height: 50px;
        position: absolute;
        width: 50px;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.service-icon {
    width: 100%;
    padding-right: 0;
    display: block;
    float: left;
    margin-bottom: 10px;
}