@import '../../assets/styles/colors.scss';
@import '../../assets/styles/screen.scss';

.navbar {
    background-color: #242323;
    width: 285px;
    color: white;
    height: 100%;
    position: fixed;
    z-index: 20;
    display: none;
    right: 0;

    &.open{
       display: block; 
    }

    @media (min-width: $screen-lg) {
        display: block;
        left: 0;
        right: auto;
    }
}

.profile {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.profile-image-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.profile-image {
    display: inline;
    margin: 0px -23px;
    height: 100%;
    width: auto;
}

.title-name {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.subtitle {
    color: #888;
}

.header-main-menu {
    list-style: none;

    li {
        margin-bottom: 10px;
        text-align: center;
        padding: 0px 40px;
    }

    li a {
        width: 100%;
        padding: 10px 20px;
        display: block;
        color: white;
        text-decoration: none;
        border-radius: 25px;
    }

    li a:hover, li a.active {
        background-color: #131313;        
        cursor: pointer;
    }
}

.copyrights {
    color: #888;
    text-align: center;
    margin-top: 30px;
}