.background-home {
    background-image: url('../../assets/images/home-background.jpeg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    opacity: 0.9;
}

.title {
    color: white;
    font-size: 30px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.home-options {
    .btn {
        font-weight: bold;
        margin: 30px 10px;
    }

    .icon {
        margin-right: 10px;
    }
}