@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #101010;
  color: white;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.background-dark {
  background-color: #101010;
  padding: 20px;
}

.title-section {
  padding-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.title-page {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;

  &:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 15px;
    border-color: #11d6f0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:after {
    content: '';
    display: block;
    border-bottom: 5px solid #11d6f0;
    width: 57px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

}